body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.navbar-default {
  background-color: #cb1c0a;
  border-color: #911205;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #911205;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #911205;
}
.navbar-default .navbar-toggle {
  border-color: #911205;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #911205;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #911205;
  }
}
.cam-box {
  text-align: center;
  margin-top: 10px;
}
.webcam-live {
  width: 85%;
  height: auto;
  z-index: -1;
}
#snapButton {
  z-index: 100;
  position: relative;
  display: block;
  margin: -6.5% auto;
  width: 40%;
  background: rgba(60,60,60,0.4);
}
#snapButton:active {
  background: rgba(255,100,100,0.8);
}
.form-signin-heading {
  color: #fff;
}
#login-well {
  background-color: #cb1c0a;
  max-width: 320px;
  margin: 20px auto;
  border-color: #911205;
}
#login-text {
  max-width: 420px;
  margin: 10px auto;
}
#login-title {
  margin-top: 0;
}
.snap-img {
  width: 640px;
  height: 480px;
  background-image: url("../images/snap.png");
  margin: 10px auto;
}
#bg-can {
  position: absolute;
  z-index: 1100;
}
.modal-content {
  min-width: 680px;
}
